* {
  margin: 0;
  padding: 0;
}
.container{
    overflow-x: auto;
    white-space: nowrap;
    width: 100vw + 15px;
    margin: 2em;
    margin-top: 6em;

}
.imgCont{
    display: inline-block;
}
.imgCont > img{
  height: 350px;
}

 