* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("./surfing-2212948.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.videoCont{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6em;
  width: 50%;
  height: 450px;
  background-color: rgba(61, 81, 117, 0.85);
}